
.alerta {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.contenido img {
    width: 80px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

.muestra{
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}